
/.env
/venv
/input_output_files/http_cache.sqlite
/input_output_files/*.json
/input_output_files/*.parquet
/test.py
tests/produced_datasets/*
.vscode
/jobs/__pycache__
/configs/__pycache__
/__pycache__
tests/__pycache__